[Unit]
Description={{ item.description }}
After=network.target auditd.service

[Service]
User={{ names.users.host.associate.name }}
WorkingDirectory={{ folder_ssh_tunnels }}
ExecStart={{ folder_ssh_tunnels }}/tunnel-{{ item.name }}.sh
KillMode=control-group
Type=simple
StandardOutput=append:/dev/null
StandardError=append:/dev/null

[Install]
WantedBy=multi-user.target
Alias=tunnel-{{ item.name }}.service
