############################################################
# keycloak
############################################################

provider        = "keycloak-oidc"
oidc_issuer_url = "https://auth.{{ lab.domain }}/realms/{{ lab.domain.removesuffix('.com') }}"
client_id       = "{{ oauth.client_id }}"
client_secret   = "{{ secrets.containers.oauth.client_secret }}"

############################################################
# cookies
############################################################

cookie_csrf_expire = "5m"
cookie_expire      = "60m"
cookie_domains     = "{{ lab.domain }}"
cookie_refresh     = 0
cookie_samesite    = "none"
cookie_secret      = "{{ secrets.containers.oauth.cookie_secret }}"
cookie_secure      = true

############################################################
# proxy
############################################################

email_domains        = "*"
redirect_url         = "https://oauth.{{ lab.domain }}/oauth2/callback"
reverse_proxy        = true
whitelist_domains    = "*.{{ lab.domain }}"
skip_provider_button = true
set_xauthrequest     = true
pass_user_headers    = true

############################################################
# server
############################################################

http_address = "0.0.0.0:4180"

############################################################
# session
############################################################

session_store_type   = "redis"
redis_connection_url = "redis://{{ redis_vlan_40_address }}:{{ ports.redis_db }}"
redis_password       = "{{ secrets.containers.redis.password }}"
