###########################################################
# general
###########################################################

provider        = "keycloak-oidc"
oidc_issuer_url = "https://keycloak.home.elysianskies.com/realms/elysian-skies"
client_id       = "{{ oauth.client_id }}"
client_secret   = "{{ secrets.oauth.client_secret }}"

###########################################################
# cookies
###########################################################

cookie_csrf_per_request = true
cookie_expire           = "30m"
cookie_domains          = ".home.elysianskies.com"
cookie_samesite         = "none"
cookie_secret           = "{{ secrets.oauth.cookie_secret }}"
cookie_secure           = true

###########################################################
# proxy
###########################################################

email_domains        = "*"
redirect_url         = "https://oauth.home.elysianskies.com/oauth2/callback"
reverse_proxy        = true
whitelist_domains    = "*.home.elysianskies.com"
skip_provider_button = true

###########################################################
# server
###########################################################

http_address = "0.0.0.0:4180"

###########################################################
# session
###########################################################

session_store_type   = "redis"
redis_connection_url = "redis://{{ assignments.redis.networking.teine.ipv4 }}:{{ external_ports.redis_db }}"
redis_password       = "{{ secrets.oauth.redis_password }}"
