[defaults]
host_key_checking   = False
force_color         = True
vault_password_file = /ansible-vault-password
gathering           = explicit
any_errors_fatal    = True
inventory           = /etc/ansible_hosts

[colors]
ok          = red
changed     = bright red

deprecate   = red
unreachable = red
warn        = bright gray
error       = dark gray

skip        = white
ignore      = red
verbose     = red
