[defaults]
host_key_checking   = False
force_color         = True
vault_password_file = /root/ansible-vault-password.txt
gathering           = explicit
any_errors_fatal    = True
inventory           = /etc/ansible_hosts

[colors]
ok          = red
changed     = bright red

deprecate   = bright gray
unreachable = bright gray
warn        = bright gray
error       = blue

skip        = dark gray
ignore      = dark gray
verbose     = dark gray
